/* General Resets and Basic Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}

/* Navigation Bar */
.nav-wrapper {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.nav-wrapper a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* Main container */
main{
  position: relative;
  min-height: 100vh;
  margin-bottom: 100px;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #c04343;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
 
}
/* Form Styles */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 120px;
}







