
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/welcome.webp'); /* Replace with actual image URL */
    background-size: cover;
    background-position: center;
    color: #080101; /* Adjust text color for readability */
    text-align: center;
    padding: 20px;
  }
  .home-container h1  {
    font-size: 50px;
    margin-bottom: 50px;
    font-family: cursive;



  }
  .home-container p {
    font-size: 1.5rem;
    max-width: 600px;
    color:rgb(27, 7, 87);
    text-decoration: double;
    font-weight: bolder;
    font-family: Georgia, serif;
  }
  