.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  h2 {
    color: #333;
    text-align: center;
  }
  .saved-recipe-item {
    background-color: #fff;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
  }
  .saved-recipe-item h3 {
    color: #007BFF;
    margin-bottom: 10px;
  }
  .saved-recipe-item img {
    width: 100%; /* Ensures the image takes the full width of the container */
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  .saved-recipe-item p {
    color: #666;
    line-height: 1.6;
  }
  button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #c82333;
  }
  