.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
 .recipe-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}
.recipe-item h3 {
  color: #007BFF;
  margin-bottom: 10px;
}
.recipe-item p {
  color: #666;
  margin-bottom: 10px;
}
.recipe-item img {
  width: 100%; 
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}
button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 200px;
  margin-left: 80px;
}

button:first-of-type {
  margin-right: 10px;
  background-color: #007bff;
}
 
.recipes-container{
  position: relative;
  left: 30px;
}
.recipe-container{
 position: relative;
left: 20px;}