nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem 1rem;
}
nav a, nav button {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}
nav a:hover, nav button:hover {
  text-decoration: underline;
}
.cookbook-title {
  font-size: 24px; /* Larger font size for title */
  color: #f1f5f1; /* Different color for the title */
  font-weight: bold;
}
.auth-links {
  display: flex;
}
.auth-links {
  display: flex;         /* Aligns children (links and button) in a row */
  justify-content: space-around; /* Distributes space around items */
  align-items: center;   /* Vertically centers the items */
  padding: 10px;         /* Adds some padding around the items */
  background-color: #333; /* Light grey background */
  border-radius: 5px;    /* Rounds the corners of the container */
}
.auth-links a, .auth-links button {
  font-weight: bold;     /* Makes text bold */
  color: #f7f4f4;           /* Dark grey text color */
  text-decoration: none; /* Removes underline from links */
  margin: 0 10px;        /* Adds margin to the left and right */
  padding: 8px 16px;     /* Adds padding to make links/button larger */
  border: none;          /* Removes border from button */
  background: none;      /* Removes background from button */
  cursor: pointer;       /* Changes cursor to pointer on hover */
}